# Framework for building ML & data science web apps
# https://dash.plotly.com/layout
dash

# Python data analysis toolkit
# https://pandas.pydata.org/docs/
pandas

# Bootstrap for dash components
dash_bootstrap_components
dash-bootstrap_templates
